.container {
  display: flex;
  flex-wrap: wrap;
}

h1 img {
	padding-bottom: 0;
}

h2 {
	font-size: 30px;
	padding-top: 25px;
	padding-bottom: 10px;
}
h2:first-child {
	padding-top: 0;
}

.leftcolumn {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 30%;
	display: block;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,0.2);
	padding: 75px 0 20px 75px;
}
.leftcolumn header {
	padding-bottom: 15px;
}
.middlecolumn {
	float: left;
	display: block;
	overflow: hidden;
	width: 40%;
	margin-left: 30%;
	margin-top: 100px;
}
.rightcolumn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30%;
	display: block;
    box-shadow: 43px 17px 43px 43px rgba(153,153,153,0.2);
	padding: 75px 75px 20px 0;
}

form {

}

input[type=number] {
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .column {

  }
}

.point-calculator {
	overflow: hidden;
	padding: 0;
}

.point-calculator .container {
    max-width: 400px;
	box-sizing: border-box;
	padding: 30px;
	display: block;
    margin: 0 auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,0.2);
}

.input input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#calculateButton {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(85, 85, 255);
    color: white;
    border: none;
    cursor: pointer;
}

#calculateButton:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}
#dowelForm {
	font-size: 15px;
}
#dowelForm label {
	padding:10px 0 5px 0;
}
#dowelForm .blanksection {
	padding:25px 40px 25px 25px;
	display: flex;
	flex-direction: column;
	background-color: rgb(0,0,0,0.2);
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	border-left: 1px solid #444;
}
.spacer {
	display: block;
	min-height: 45px;
}
.cuecanvas {
	overflow: hidden;
	background-color: rgb(0,0,0,0.2);
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	border-right: 1px solid #444;
	padding: 25px 0;
	width: 50%;
	float: left;
	position: relative;
}
.cuecanvas2 {
	overflow: hidden;
	background-color: rgb(0,0,0,0.5);
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	border-top: 1px solid #444;
	width: 50%;
	padding: 25px 0;
	position: relative;
}
#cueCanvas, #cueCanvas2 {
	width: 100%;
	height: 516px;
}
.troubleshooting {
	position: absolute;
top: 10px;
margin-left: 10px;
left: auto;
font-size: 12px;
line-height: 1.3em;
background-color: #212221;
border: 1px solid #111;
padding: 10px;
border-radius: 10px;
opacity: 0.5;
}