body {
	font-family: 'Lato', sans-serif;
	color: #fff;
	background-color: #1a1d23;
	font-size: 6vw;
}

body, select, input, textarea {
}

a {color: #d2c447; text-decoration: none;}
a:hover {color: #d2c447;}

::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

blockquote {padding: 16px; background: #eee;}

.wrapper {
	padding: 30px;
}

article {
	padding-bottom: 150px;
}

p {
	line-height: 1.4em;
}

h1 img {
	width: 80px;
	padding-bottom: 20px;
}

.questionstitle {
	opacity: 0.4;
	padding-bottom: 20px;
}

.answer {
	color: #e72f5f;
	padding-bottom: 15px;
}

@media (min-width: 600px) {
	
	body {
		font-size: 36px;
	}
	
}

@media (min-width: 768px) {
	
	.wrapper {
		padding: 100px;
	}
	
	h1 img {
		padding-bottom: 50px;
	}
	
}